Audios Test Folder
Videos Test Folder
Combine Test Folder
Audios Folder
Videos Folder
Combine Folder
transcript
audio
video
*.txt
Makefile
Video IDs
Scripts/__pycache__
test.py
__pycache__
front-end.pyt
video_info